node-red/flows.json
[{"id":"f061309c.1b448","type":"tab","label":"Öryggi","disabled":false,"info":""},{"id":"98e1b75f.bbc268","type":"tab","label":"Rofar","disabled":false,"info":""},{"id":"660916f6.f04a58","type":"tab","label":"Ljós","disabled":false,"info":""},{"id":"bb372a07.f94e38","type":"tab","label":"Leaf","disabled":false,"info":""},{"id":"ebb20cb2.a4935","type":"tab","label":"Scratchpad","disabled":false,"info":""},{"id":"6161853e.2c5a3c","type":"server","name":"Home Assistant","addon":true},{"id":"80f5ad38.5c088","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9596c9f0.284628","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"41a10445.e6ba1c","type":"light-scheduler-settings","name":"my settings","latitude":"64.146582","longitude":"-21.9426354"},{"id":"5b39d525.937d4c","type":"MySQLdatabase","name":"hassio","host":"core-mariadb","port":"3306","db":"homeassistant","tz":"","charset":"UTF8"},{"id":"475aea04.26ae34","type":"api-current-state","z":"f061309c.1b448","name":"Læst","server":"6161853e.2c5a3c","version":1,"outputs":2,"halt_if":"locked","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"lock.lock","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":470,"y":160,"wires":[["8e031e46.08356"],[]]},{"id":"7a7196ab.1e4108","type":"api-call-service","z":"f061309c.1b448","name":"Disarm","server":"6161853e.2c5a3c","version":1,"debugenabled":false,"service_domain":"alarm_control_panel","service":"alarm_disarm","entityId":"alarm_control_panel.my_location_alarm","data":"1646","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":461,"y":460,"wires":[[]]},{"id":"8e031e46.08356","type":"api-call-service","z":"f061309c.1b448","name":"Aflæsa","server":"6161853e.2c5a3c","version":1,"debugenabled":false,"service_domain":"lock","service":"unlock","entityId":"lock.lock","data":"1234","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":730,"y":160,"wires":[[]]},{"id":"efa5d427.fef368","type":"ha-zone","z":"f061309c.1b448","server":"6161853e.2c5a3c","name":"Ég kem heim","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entities":["person.finnur_eiriksson","person.lovisa_gunnarsdottir"],"event":"enter","zones":["zone.home"],"x":210,"y":160,"wires":[["475aea04.26ae34"]]},{"id":"563842d6.ebc54c","type":"server-state-changed","z":"f061309c.1b448","name":"Útihurð læsist","server":"6161853e.2c5a3c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"lock.lock","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"locked","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":210,"y":360,"wires":[["b6f2d601.508758"],[]]},{"id":"b6f2d601.508758","type":"api-current-state","z":"f061309c.1b448","name":"Er kerfi á?","server":"6161853e.2c5a3c","version":1,"outputs":2,"halt_if":"disarmed","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"alarm_control_panel.my_location_alarm","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":470,"y":360,"wires":[["5717a772.43c6a8"],[]]},{"id":"5717a772.43c6a8","type":"api-call-service","z":"f061309c.1b448","name":"Arm-home","server":"6161853e.2c5a3c","version":1,"debugenabled":false,"service_domain":"alarm_control_panel","service":"alarm_arm_home","entityId":"alarm_control_panel.my_location_alarm","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":760,"y":360,"wires":[[]]},{"id":"6a05a1f7.a0366","type":"server-state-changed","z":"f061309c.1b448","name":"Útihurð úr lás","server":"6161853e.2c5a3c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"lock.lock","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"unlocked","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":210,"y":460,"wires":[["7a7196ab.1e4108"],[]]},{"id":"ee7cfc3d.db23c","type":"ha-zone","z":"f061309c.1b448","server":"6161853e.2c5a3c","name":"Enginn heima","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entities":["person.finnur_eiriksson","person.lovisa_gunnarsdottir"],"event":"leave","zones":["zone.home"],"x":210,"y":260,"wires":[["577da230.d61f2c"]]},{"id":"577da230.d61f2c","type":"api-current-state","z":"f061309c.1b448","name":"Er Finnur away?","server":"6161853e.2c5a3c","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"person.finnur_eiriksson","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":480,"y":260,"wires":[["391c60eb.77c36"],[]]},{"id":"391c60eb.77c36","type":"api-current-state","z":"f061309c.1b448","name":"Er Lovísa away?","server":"6161853e.2c5a3c","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"person.lovisa_gunnarsdottir","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":750,"y":260,"wires":[["878a7d27.97f12"],[]]},{"id":"878a7d27.97f12","type":"api-current-state","z":"f061309c.1b448","name":"Er læst?","server":"6161853e.2c5a3c","version":1,"outputs":2,"halt_if":"locked","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"lock.lock","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":970,"y":260,"wires":[["9d4d298d.fd4df8"],[]]},{"id":"9d4d298d.fd4df8","type":"api-current-state","z":"f061309c.1b448","name":"Er kerfið á?","server":"6161853e.2c5a3c","version":1,"outputs":2,"halt_if":"armed_home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"alarm_control_panel.my_location_alarm","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1200,"y":260,"wires":[["d5db5087.a08a6"],[]]},{"id":"d5db5087.a08a6","type":"api-call-service","z":"f061309c.1b448","name":"Setja kerfi á vörð","server":"6161853e.2c5a3c","version":1,"debugenabled":false,"service_domain":"alarm_control_panel","service":"alarm_arm_away","entityId":"alarm_control_panel.my_location_alarm","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1460,"y":260,"wires":[[]]},{"id":"e90e8738.3fcff8","type":"server-state-changed","z":"98e1b75f.bbc268","name":"Eldhús 1","server":"6161853e.2c5a3c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.kitchen","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"1_click_up","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":100,"y":80,"wires":[["ea7c6f66.7f2a1"],[]]},{"id":"ea7c6f66.7f2a1","type":"api-call-service","z":"98e1b75f.bbc268","name":"Borðstofuljós toggle","server":"6161853e.2c5a3c","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.bordstofa","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":330,"y":80,"wires":[[]]},{"id":"200d01b.2a299fe","type":"server-state-changed","z":"98e1b75f.bbc268","name":"Eldhús 2","server":"6161853e.2c5a3c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.kitchen","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"2_click_up","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":100,"y":160,"wires":[["b8cbd8.286fe428"],[]]},{"id":"b8cbd8.286fe428","type":"api-call-service","z":"98e1b75f.bbc268","name":"Eldhús toggle","server":"6161853e.2c5a3c","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.eldhus, light.eldhus_vaskur_l, light.eldhus_vaskur_m, light.eldhus_vaskur_r","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":320,"y":160,"wires":[[]]},{"id":"92a48851.1d1f48","type":"server-state-changed","z":"98e1b75f.bbc268","name":"Eldhús 3","server":"6161853e.2c5a3c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.kitchen","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"3_click_up","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":100,"y":240,"wires":[["28221add.bb60c6"],[]]},{"id":"2c673942.6b0e66","type":"server-state-changed","z":"98e1b75f.bbc268","name":"Eldhús off","server":"6161853e.2c5a3c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.kitchen","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"4_click_up","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":100,"y":300,"wires":[["e3ab640d.f1f7c8"],[]]},{"id":"28221add.bb60c6","type":"api-call-service","z":"98e1b75f.bbc268","name":"Búr toggle","server":"6161853e.2c5a3c","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.bur","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":310,"y":240,"wires":[[]]},{"id":"e3ab640d.f1f7c8","type":"api-call-service","z":"98e1b75f.bbc268","name":"Slökkva allt","server":"6161853e.2c5a3c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.eldhus, light.eldhus_vaskur_l, light.eldhus_vaskur_m, light.eldhus_vaskur_r, light.bordstofa, light.bur","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":320,"y":300,"wires":[[]]},{"id":"ff4a6e50.e0b9d","type":"api-call-service","z":"98e1b75f.bbc268","name":"Eldhúspartý","server":"6161853e.2c5a3c","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.eldhusparty","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":850,"y":160,"wires":[[]]},{"id":"d861c81d.294348","type":"server-state-changed","z":"98e1b75f.bbc268","name":"Eldhús 2 hold","server":"6161853e.2c5a3c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.kitchen","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"2_hold_up","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":580,"y":160,"wires":[["ff4a6e50.e0b9d"],[]]},{"id":"ba9e4db9.20585","type":"server-state-changed","z":"98e1b75f.bbc268","name":"Eldhús 3 hold","server":"6161853e.2c5a3c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.kitchen","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"3_hold_up","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":590,"y":240,"wires":[["96c5f15f.403aa"],[]]},{"id":"96c5f15f.403aa","type":"api-call-service","z":"98e1b75f.bbc268","name":"Eldhúspartý búið","server":"6161853e.2c5a3c","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.eldhus_venjulegt","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":870,"y":240,"wires":[[]]},{"id":"7bd99bb1.271324","type":"server-state-changed","z":"98e1b75f.bbc268","name":"Hjón 4 hold","server":"6161853e.2c5a3c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.hjon_switch","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"4_hold_up","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":120,"y":480,"wires":[["62f07536.88801c"],[]]},{"id":"62f07536.88801c","type":"api-call-service","z":"98e1b75f.bbc268","name":"Slökkva uppi","server":"6161853e.2c5a3c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.gangur_uppi, light.badherbergi_uppi","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":380,"y":480,"wires":[[]]},{"id":"6d06086.57f1bf8","type":"server-state-changed","z":"98e1b75f.bbc268","name":"Stofa 1","server":"6161853e.2c5a3c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.stofa_switch","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"1_click_up","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":90,"y":640,"wires":[["65c089fc.876d78"],[]]},{"id":"74def556.ee74ac","type":"server-state-changed","z":"98e1b75f.bbc268","name":"Stofa 2","server":"6161853e.2c5a3c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.stofa_switch","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"2_click_up","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":90,"y":700,"wires":[["e0c27c93.635eb"],[]]},{"id":"91f0c87f.b3acb8","type":"server-state-changed","z":"98e1b75f.bbc268","name":"Stofa 3","server":"6161853e.2c5a3c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.stofa_switch","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"3_click_up","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":90,"y":760,"wires":[["e19807fe.fc2828"],[]]},{"id":"6ab7571f.c779a8","type":"server-state-changed","z":"98e1b75f.bbc268","name":"Stofa 4","server":"6161853e.2c5a3c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.stofa_switch","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"4_click_up","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":90,"y":820,"wires":[["58a0418e.3d0f7"],[]]},{"id":"65c089fc.876d78","type":"api-call-service","z":"98e1b75f.bbc268","name":"Stofa toggle","server":"6161853e.2c5a3c","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.stofa_2","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":310,"y":640,"wires":[[]]},{"id":"e0c27c93.635eb","type":"api-call-service","z":"98e1b75f.bbc268","name":"Stofulampi toggle","server":"6161853e.2c5a3c","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.stofulampi","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":330,"y":700,"wires":[[]]},{"id":"58a0418e.3d0f7","type":"api-call-service","z":"98e1b75f.bbc268","name":"Slökkva stofu","server":"6161853e.2c5a3c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.stofa_2, light.stofulampi, light.piano","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":320,"y":820,"wires":[[]]},{"id":"e19807fe.fc2828","type":"api-call-service","z":"98e1b75f.bbc268","name":"Kvöld niðri","server":"6161853e.2c5a3c","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.kvold_nidri","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":310,"y":760,"wires":[[]]},{"id":"97c6e430.bfae68","type":"api-call-service","z":"98e1b75f.bbc268","name":"","server":"6161853e.2c5a3c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.stofulampi","data":"{\"effect\":\"colorloop\",\"brightness\":255}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":790,"y":700,"wires":[[]]},{"id":"2247b689.871fda","type":"server-state-changed","z":"98e1b75f.bbc268","name":"Stofa 2 hold","server":"6161853e.2c5a3c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.stofa_switch","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"2_hold_up","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":590,"y":700,"wires":[["97c6e430.bfae68"],[]]},{"id":"f5a8aefb.983ad","type":"schedex","z":"660916f6.f04a58","name":"Morgunrútína","passthroughunhandled":false,"suspended":false,"lat":"64.14658","lon":"-21.94264","ontime":"7:30","ontopic":"","onpayload":"on","onoffset":0,"onrandomoffset":0,"offtime":"9:00","offtopic":"","offpayload":"off","offoffset":0,"offrandomoffset":0,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"sun":false,"x":170,"y":260,"wires":[["33e31833.14c558"]]},{"id":"33e31833.14c558","type":"api-current-state","z":"660916f6.f04a58","name":"Rútína virk?","server":"6161853e.2c5a3c","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.ljos_automation_morgunn","state_type":"str","state_location":"","override_payload":"none","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":470,"y":260,"wires":[["3aa69606.341afa"],[]]},{"id":"d51ad6fe.de7d78","type":"function","z":"660916f6.f04a58","name":"Birta 0-100","func":"context.brightness = context.brightness || 0\n\nconst lightmsg = function() {\n    return {\n        service: \"turn_on\",\n        data: {\n            \"color_temp\": 400,\n            \"brightness_pct\": context.brightness++\n        }\n    }\n}\n\n\nif (msg.payload === 'on') {\n    const light = lightmsg();\n    if (context.brightness > 100) {\n        context.brightness = 0;\n        return [null,{...msg, payload: light}];\n    }\n    return [msg,{...msg, payload: light}];\n} else {\n    context.brightness = 0;\n    return [null, null]\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":970,"y":260,"wires":[["c273de8d.0d2c9"],["6fd5f8de.9b1e18"]]},{"id":"6fd5f8de.9b1e18","type":"api-call-service","z":"660916f6.f04a58","name":"Ljós uppi","server":"6161853e.2c5a3c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.dagmar, light.kolbrun, light.saevar, light.hjon, light.gangur_uppi","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1140,"y":320,"wires":[[]]},{"id":"3aa69606.341afa","type":"switch","z":"660916f6.f04a58","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":260,"wires":[["d51ad6fe.de7d78","6cc12e54.0d79a"],["6fd5f8de.9b1e18","85d2e2e8.28bca"]]},{"id":"c273de8d.0d2c9","type":"delay","z":"660916f6.f04a58","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":960,"y":180,"wires":[["d51ad6fe.de7d78"]]},{"id":"6cc12e54.0d79a","type":"api-call-service","z":"660916f6.f04a58","name":"Kveikja niðri","server":"6161853e.2c5a3c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.forstofa_2, light.bordstofa","data":"{\"color_temp\":400, \"brightness_pct\": 100}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":970,"y":100,"wires":[[]]},{"id":"85d2e2e8.28bca","type":"api-call-service","z":"660916f6.f04a58","name":"Slökkva niðri","server":"6161853e.2c5a3c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.forstofa_2, light.bordstofa","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":970,"y":380,"wires":[[]]},{"id":"bedcac78.826d3","type":"schedex","z":"660916f6.f04a58","name":"Seinnipartur forstofa","passthroughunhandled":false,"suspended":false,"lat":"64.14658","lon":"-21.94264","ontime":"14:00","ontopic":"","onpayload":"on","onoffset":"15","onrandomoffset":true,"offtime":"0:30","offtopic":"","offpayload":"off","offoffset":"30","offrandomoffset":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":200,"y":440,"wires":[["6f83b64a.1408a8"]]},{"id":"6f83b64a.1408a8","type":"switch","z":"660916f6.f04a58","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":440,"wires":[["265732e5.1190de"],["cef455bc.243598"]]},{"id":"265732e5.1190de","type":"api-call-service","z":"660916f6.f04a58","name":"Kveikja seinni part","server":"6161853e.2c5a3c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.forstofa_2, light.gangur_uppi","data":"{\"color_temp\":400, \"brightness_pct\": 100}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":690,"y":420,"wires":[[]]},{"id":"cef455bc.243598","type":"api-call-service","z":"660916f6.f04a58","name":"Slökkva niðri","server":"6161853e.2c5a3c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.forstofa_2, light.bordstofa","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":670,"y":480,"wires":[[]]},{"id":"6bb75b17.5fbec4","type":"server-events","z":"98e1b75f.bbc268","name":"ZHA","server":"6161853e.2c5a3c","event_type":"zha_event","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"x":110,"y":1040,"wires":[["74305413.27df3c"]]},{"id":"74305413.27df3c","type":"function","z":"98e1b75f.bbc268","name":"","func":"const device_map = {\n    \"00:17:88:01:08:75:63:73\": \"Rofi1\"\n}\nconst {device_ieee, command} = msg.payload.event;\nconst {button} = msg.payload.event.args || '';\n\nreturn {...msg, payload: {name: device_map[device_ieee], device_ieee, button, command}};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":1020,"wires":[["f3ab2805.8fed98"]]},{"id":"f3ab2805.8fed98","type":"switch","z":"98e1b75f.bbc268","name":"Finna rofa","property":"payload.name","propertyType":"msg","rules":[{"t":"eq","v":"Rofi1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":360,"y":1080,"wires":[["7ca90000.6e895"]]},{"id":"7ca90000.6e895","type":"switch","z":"98e1b75f.bbc268","name":"Takki","property":"payload.button","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"up","vt":"str"},{"t":"eq","v":"down","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":450,"y":1000,"wires":[["a988bbc5.06e6d8"],["cc6260cf.f69b6"],["2017fa46.6aece6"],["2017fa46.6aece6"]]},{"id":"a988bbc5.06e6d8","type":"api-call-service","z":"98e1b75f.bbc268","name":"Lampi on","server":"6161853e.2c5a3c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bilskur","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1220,"y":900,"wires":[[]]},{"id":"cc6260cf.f69b6","type":"api-call-service","z":"98e1b75f.bbc268","name":"Lampi off","server":"6161853e.2c5a3c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.bilskur","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":860,"y":980,"wires":[[]]},{"id":"2017fa46.6aece6","type":"api-current-state","z":"98e1b75f.bbc268","name":"","server":"6161853e.2c5a3c","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.bilskur","state_type":"str","state_location":"payload.state","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":710,"y":1040,"wires":[["317895b7.0da8ba"],[]]},{"id":"317895b7.0da8ba","type":"function","z":"98e1b75f.bbc268","name":"","func":"// get command info and current brightness\ncontext.state = context.state || 'stopped';\n\nif (msg.payload !== 'looping') {\n    context.brightness = context.state === 'stopped' ? msg.data.attributes.brightness: context.brightness;\n    [context.button, context.command] = msg.payload.command.split('_');\n    context.loop = context.loop || null;\n}\n\n// Do nothing because light is off\nif (msg.data.state === 'off') {\n    return [null, null]\n}\n\n// Button hold released, stopping loop\nif (context.state === 'running' && context.command === 'long') {\n    context.state = 'stopped';\n    delete context.brightness;\n    delete context.button;\n    context.loop = null;\n    return [null, null];\n}\n\n// Button hold started, starting loop\nif (context.state === 'stopped' && context.command === 'hold') {\n    context.state = 'running';\n    context.loop = {...msg, payload: 'looping'};\n    return [null, context.loop];\n}\n\nif (context.command === 'short' || (context.state === 'running' && msg.payload === 'looping')) {\n    if (context.button === 'up') {\n        context.brightness += 5;\n        return [{...msg, payload: { data: { brightness: context.brightness}}}, context.loop]\n    }\n    if (context.button === 'down') {\n        context.brightness-=5;\n        if (context.brightness <= 0) {\n            context.brightness = 1;\n        }\n        return [{...msg, payload: { data: { brightness: context.brightness}}}, context.loop]\n    }\n}\n\nreturn [null, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":960,"y":1040,"wires":[["a988bbc5.06e6d8"],["506a8ed4.022a8"]]},{"id":"506a8ed4.022a8","type":"delay","z":"98e1b75f.bbc268","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":970,"y":1160,"wires":[["317895b7.0da8ba"]]},{"id":"25c17583.b1b61a","type":"server-state-changed","z":"98e1b75f.bbc268","name":"Stofa 3 hold","server":"6161853e.2c5a3c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.stofa_switch","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"3_hold_up","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":590,"y":760,"wires":[["97477285.860b9"],[]]},{"id":"97477285.860b9","type":"api-call-service","z":"98e1b75f.bbc268","name":"Píanó toggle","server":"6161853e.2c5a3c","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.piano","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":770,"y":760,"wires":[[]]},{"id":"b1026afb.578628","type":"schedex","z":"660916f6.f04a58","name":"Kvöldmatur borðstofa","passthroughunhandled":false,"suspended":false,"lat":"64.14658","lon":"-21.94264","ontime":"18:00","ontopic":"","onpayload":"","onoffset":0,"onrandomoffset":0,"offtime":"20:00","offtopic":"","offpayload":"{\"service\": \"turn_off\"}","offoffset":0,"offrandomoffset":0,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":200,"y":620,"wires":[["a1786c68.67e84"]]},{"id":"a1786c68.67e84","type":"api-call-service","z":"660916f6.f04a58","name":"Borðstofa","server":"6161853e.2c5a3c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bordstofa","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":470,"y":620,"wires":[[]]},{"id":"a138fdb4.95e2b","type":"server-state-changed","z":"bb372a07.f94e38","name":"Latitude","server":"6161853e.2c5a3c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.leaf_latitude","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":160,"y":180,"wires":[["2b1fa60e.92c872"]]},{"id":"e56756d5.57a588","type":"server-state-changed","z":"bb372a07.f94e38","name":"Longitude","server":"6161853e.2c5a3c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.leaf_longitude","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":160,"y":240,"wires":[["2b1fa60e.92c872"]]},{"id":"deca2dad.9e558","type":"api-call-service","z":"bb372a07.f94e38","name":"Update Location","server":"6161853e.2c5a3c","version":1,"debugenabled":false,"service_domain":"device_tracker","service":"see","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":870,"y":220,"wires":[[]]},{"id":"2b1fa60e.92c872","type":"api-current-state","z":"bb372a07.f94e38","name":"Latitude","server":"6161853e.2c5a3c","version":1,"outputs":2,"halt_if":"0","halt_if_type":"num","halt_if_compare":"is_not","override_topic":false,"entity_id":"sensor.leaf_latitude","state_type":"num","state_location":"payload.latitude","override_payload":"msg","entity_location":"data.latitude","override_data":"msg","blockInputOverrides":true,"x":340,"y":220,"wires":[["74ab6f2f.238cf8"],[]]},{"id":"74ab6f2f.238cf8","type":"api-current-state","z":"bb372a07.f94e38","name":"Longitude","server":"6161853e.2c5a3c","version":1,"outputs":2,"halt_if":"0","halt_if_type":"num","halt_if_compare":"is_not","override_topic":false,"entity_id":"sensor.leaf_longitude","state_type":"num","state_location":"payload.longitude","override_payload":"msg","entity_location":"data.longitude","override_data":"msg","blockInputOverrides":false,"x":480,"y":220,"wires":[["648b3962.f2d2b"],[]]},{"id":"648b3962.f2d2b","type":"function","z":"bb372a07.f94e38","name":"Format Location data","func":"const lat = msg.data.latitude.state\nconst long = msg.data.longitude.state\ndelete msg.data\n\nmsg.payload = {\n    data: {\n        mac: '10:20:30:40:50:60',\n        dev_id: 'leaf_location',\n        gps: [lat,long]\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":220,"wires":[["deca2dad.9e558"]]},{"id":"2a1fe61d.08b082","type":"comment","z":"bb372a07.f94e38","name":"Location tracker","info":"Uppfærir gps á device_tracker.leaf_location þegar latitude eða longitude breytist","x":570,"y":160,"wires":[]},{"id":"a146a88b.7466b","type":"server-state-changed","z":"bb372a07.f94e38","name":"Útihurð læst","server":"6161853e.2c5a3c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"lock.lock","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"locked","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":170,"y":420,"wires":[["b2c89ea6.4705d8"],[]]},{"id":"b2c89ea6.4705d8","type":"api-current-state","z":"bb372a07.f94e38","name":"Leaf Heima","server":"6161853e.2c5a3c","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.yhk20","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":370,"y":420,"wires":[["edd2bc62.d2b68"],[]]},{"id":"edd2bc62.d2b68","type":"api-current-state","z":"bb372a07.f94e38","name":"Leaf < 50%","server":"6161853e.2c5a3c","version":1,"outputs":2,"halt_if":"50","halt_if_type":"num","halt_if_compare":"lt","override_topic":false,"entity_id":"sensor.leaf_battery_charge","state_type":"num","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":570,"y":420,"wires":[["f5c25d64.47b3d8"],[]]},{"id":"f5c25d64.47b3d8","type":"api-call-service","z":"bb372a07.f94e38","name":"Senda skilaboð","server":"6161853e.2c5a3c","version":1,"debugenabled":false,"service_domain":"notify","service":"notify","entityId":"","data":"{\"message\":\"Mundu að hlaða bílinn\",\"title\":\"Hlaða\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":890,"y":420,"wires":[[]]},{"id":"aafbb52c.c428","type":"schedex","z":"bb372a07.f94e38","name":"Morgunrútína","passthroughunhandled":false,"suspended":false,"lat":"64.14658","lon":"-21.94264","ontime":"7:50","ontopic":"","onpayload":"on","onoffset":0,"onrandomoffset":0,"offtime":"9:00","offtopic":"","offpayload":"off","offoffset":0,"offrandomoffset":0,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"sun":false,"x":170,"y":620,"wires":[["19a70028.6a96d"]]},{"id":"19a70028.6a96d","type":"api-current-state","z":"bb372a07.f94e38","name":"Rútína virk?","server":"6161853e.2c5a3c","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.ljos_automation_morgunn","state_type":"str","state_location":"","override_payload":"none","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":370,"y":620,"wires":[["bb7806b.f25ccf8"],[]]},{"id":"3cf98c5f.96b024","type":"api-call-service","z":"bb372a07.f94e38","name":"Hita bíl","server":"6161853e.2c5a3c","version":1,"debugenabled":false,"service_domain":"script","service":"leaf_turn_heater_on","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":760,"y":620,"wires":[[]]},{"id":"bb7806b.f25ccf8","type":"switch","z":"bb372a07.f94e38","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":560,"y":620,"wires":[["3cf98c5f.96b024"]]}]
