node-red/flows.json
[{"id":"f061309c.1b448","type":"tab","label":"Öryggi","disabled":false,"info":""},{"id":"98e1b75f.bbc268","type":"tab","label":"Rofar","disabled":false,"info":""},{"id":"660916f6.f04a58","type":"tab","label":"Ljós","disabled":false,"info":""},{"id":"bb372a07.f94e38","type":"tab","label":"Leaf","disabled":false,"info":""},{"id":"ebb20cb2.a4935","type":"tab","label":"ZHA rofar","disabled":false,"info":""},{"id":"f55fe344.1d00e","type":"tab","label":"Ýmislegt","disabled":false,"info":""},{"id":"c65f10bb.231c68","type":"tab","label":"Hue Testbench","disabled":false,"info":""},{"id":"6161853e.2c5a3c","type":"server","name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false,"cacheJson":true},{"id":"80f5ad38.5c088","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9596c9f0.284628","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"41a10445.e6ba1c","type":"light-scheduler-settings","name":"my settings","latitude":"64.146582","longitude":"-21.9426354"},{"id":"5b39d525.937d4c","type":"MySQLdatabase","name":"hassio","host":"core-mariadb","port":"3306","db":"homeassistant","tz":"","charset":"UTF8"},{"id":"948ba103.bc443","type":"ttsultimate-config","name":"Config","noderedipaddress":"10.22.2.113","noderedport":"1980","purgediratrestart":"leave","ttsservice":"polly"},{"id":"475aea04.26ae34","type":"api-current-state","z":"f061309c.1b448","name":"Door locked?","server":"6161853e.2c5a3c","version":1,"outputs":2,"halt_if":"locked","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"lock.lock","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":500,"y":160,"wires":[["8e031e46.08356"],[]]},{"id":"7a7196ab.1e4108","type":"api-call-service","z":"f061309c.1b448","name":"Disarm","server":"6161853e.2c5a3c","version":1,"debugenabled":false,"service_domain":"alarm_control_panel","service":"alarm_disarm","entityId":"alarm_control_panel.my_location_alarm","data":"1646","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":461,"y":460,"wires":[[]]},{"id":"8e031e46.08356","type":"api-call-service","z":"f061309c.1b448","name":"Unlock door","server":"6161853e.2c5a3c","version":1,"debugenabled":false,"service_domain":"lock","service":"unlock","entityId":"lock.lock","data":"1234","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":750,"y":160,"wires":[[]]},{"id":"efa5d427.fef368","type":"ha-zone","z":"f061309c.1b448","server":"6161853e.2c5a3c","name":"Person entering zone home","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entities":["person.finnur_eiriksson","person.lovisa_gunnarsdottir"],"event":"enter","zones":["zone.home"],"x":260,"y":160,"wires":[["475aea04.26ae34"]]},{"id":"563842d6.ebc54c","type":"server-state-changed","z":"f061309c.1b448","name":"Door locked","server":"6161853e.2c5a3c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"lock.lock","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"locked","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":210,"y":360,"wires":[["b6f2d601.508758"],[]]},{"id":"b6f2d601.508758","type":"api-current-state","z":"f061309c.1b448","name":"Alarm disarmed?","server":"6161853e.2c5a3c","version":1,"outputs":2,"halt_if":"disarmed","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"alarm_control_panel.my_location_alarm","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":500,"y":360,"wires":[["5717a772.43c6a8"],[]]},{"id":"5717a772.43c6a8","type":"api-call-service","z":"f061309c.1b448","name":"Arm-home","server":"6161853e.2c5a3c","version":1,"debugenabled":false,"service_domain":"alarm_control_panel","service":"alarm_arm_home","entityId":"alarm_control_panel.my_location_alarm","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":760,"y":360,"wires":[[]]},{"id":"6a05a1f7.a0366","type":"server-state-changed","z":"f061309c.1b448","name":"Door unlocked","server":"6161853e.2c5a3c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"lock.lock","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"unlocked","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":220,"y":460,"wires":[["7a7196ab.1e4108"],[]]},{"id":"ee7cfc3d.db23c","type":"ha-zone","z":"f061309c.1b448","server":"6161853e.2c5a3c","name":"No one home","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entities":["person.finnur_eiriksson","person.lovisa_gunnarsdottir"],"event":"leave","zones":["zone.home"],"x":210,"y":260,"wires":[["577da230.d61f2c"]]},{"id":"577da230.d61f2c","type":"api-current-state","z":"f061309c.1b448","name":"Finnur away?","server":"6161853e.2c5a3c","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"person.finnur_eiriksson","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":470,"y":260,"wires":[["391c60eb.77c36"],[]]},{"id":"391c60eb.77c36","type":"api-current-state","z":"f061309c.1b448","name":"Lovísa away?","server":"6161853e.2c5a3c","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"person.lovisa_gunnarsdottir","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":750,"y":260,"wires":[["878a7d27.97f12"],[]]},{"id":"878a7d27.97f12","type":"api-current-state","z":"f061309c.1b448","name":"Door locked?","server":"6161853e.2c5a3c","version":1,"outputs":2,"halt_if":"locked","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"lock.lock","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":990,"y":260,"wires":[["9d4d298d.fd4df8"],[]]},{"id":"9d4d298d.fd4df8","type":"api-current-state","z":"f061309c.1b448","name":"Alarm armed home?","server":"6161853e.2c5a3c","version":1,"outputs":2,"halt_if":"armed_home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"alarm_control_panel.my_location_alarm","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1230,"y":260,"wires":[["d5db5087.a08a6"],[]]},{"id":"d5db5087.a08a6","type":"api-call-service","z":"f061309c.1b448","name":"Set arm away","server":"6161853e.2c5a3c","version":1,"debugenabled":false,"service_domain":"alarm_control_panel","service":"alarm_arm_away","entityId":"alarm_control_panel.my_location_alarm","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1450,"y":260,"wires":[[]]},{"id":"e90e8738.3fcff8","type":"server-state-changed","z":"98e1b75f.bbc268","name":"Eldhús 1","server":"6161853e.2c5a3c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.kitchen","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"1_click_up","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":100,"y":80,"wires":[["ea7c6f66.7f2a1"],[]]},{"id":"ea7c6f66.7f2a1","type":"api-call-service","z":"98e1b75f.bbc268","name":"Borðstofuljós toggle","server":"6161853e.2c5a3c","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.bordstofa","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":330,"y":80,"wires":[[]]},{"id":"200d01b.2a299fe","type":"server-state-changed","z":"98e1b75f.bbc268","name":"Eldhús 2","server":"6161853e.2c5a3c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.kitchen","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"2_click_up","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":100,"y":160,"wires":[["b8cbd8.286fe428"],[]]},{"id":"b8cbd8.286fe428","type":"api-call-service","z":"98e1b75f.bbc268","name":"Eldhús toggle","server":"6161853e.2c5a3c","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.eldhus, light.eldhus_vaskur_l, light.eldhus_vaskur_m, light.eldhus_vaskur_r","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":320,"y":160,"wires":[[]]},{"id":"92a48851.1d1f48","type":"server-state-changed","z":"98e1b75f.bbc268","name":"Eldhús 3","server":"6161853e.2c5a3c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.kitchen","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"3_click_up","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":100,"y":240,"wires":[["28221add.bb60c6"],[]]},{"id":"2c673942.6b0e66","type":"server-state-changed","z":"98e1b75f.bbc268","name":"Eldhús off","server":"6161853e.2c5a3c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.kitchen","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"4_click_up","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":100,"y":300,"wires":[["e3ab640d.f1f7c8"],[]]},{"id":"28221add.bb60c6","type":"api-call-service","z":"98e1b75f.bbc268","name":"Búr toggle","server":"6161853e.2c5a3c","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.bur","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":310,"y":240,"wires":[[]]},{"id":"e3ab640d.f1f7c8","type":"api-call-service","z":"98e1b75f.bbc268","name":"Slökkva allt","server":"6161853e.2c5a3c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.eldhus, light.eldhus_vaskur_l, light.eldhus_vaskur_m, light.eldhus_vaskur_r, light.bordstofa, light.bur","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":320,"y":300,"wires":[[]]},{"id":"ff4a6e50.e0b9d","type":"api-call-service","z":"98e1b75f.bbc268","name":"Eldhúspartý","server":"6161853e.2c5a3c","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.eldhusparty","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":850,"y":160,"wires":[[]]},{"id":"d861c81d.294348","type":"server-state-changed","z":"98e1b75f.bbc268","name":"Eldhús 2 hold","server":"6161853e.2c5a3c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.kitchen","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"2_hold_up","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":580,"y":160,"wires":[["ff4a6e50.e0b9d"],[]]},{"id":"ba9e4db9.20585","type":"server-state-changed","z":"98e1b75f.bbc268","name":"Eldhús 3 hold","server":"6161853e.2c5a3c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.kitchen","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"3_hold_up","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":590,"y":240,"wires":[["96c5f15f.403aa"],[]]},{"id":"96c5f15f.403aa","type":"api-call-service","z":"98e1b75f.bbc268","name":"Eldhúspartý búið","server":"6161853e.2c5a3c","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.eldhus_venjulegt","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":870,"y":240,"wires":[[]]},{"id":"7bd99bb1.271324","type":"server-state-changed","z":"98e1b75f.bbc268","name":"Hjón 4 hold","server":"6161853e.2c5a3c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.hjon_switch","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"4_hold_up","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":120,"y":480,"wires":[["62f07536.88801c"],[]]},{"id":"62f07536.88801c","type":"api-call-service","z":"98e1b75f.bbc268","name":"Slökkva uppi","server":"6161853e.2c5a3c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.gangur_uppi, light.bad_uppi_loft, light.bad_uppi_spegill_h, light.bad_uppi_spegill_v","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":380,"y":480,"wires":[[]]},{"id":"6d06086.57f1bf8","type":"server-state-changed","z":"98e1b75f.bbc268","name":"Stofa 1","server":"6161853e.2c5a3c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.stofa_switch","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"1_click_up","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":90,"y":640,"wires":[["65c089fc.876d78"],[]]},{"id":"74def556.ee74ac","type":"server-state-changed","z":"98e1b75f.bbc268","name":"Stofa 2","server":"6161853e.2c5a3c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.stofa_switch","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"2_click_up","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":90,"y":700,"wires":[["e0c27c93.635eb"],[]]},{"id":"91f0c87f.b3acb8","type":"server-state-changed","z":"98e1b75f.bbc268","name":"Stofa 3","server":"6161853e.2c5a3c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.stofa_switch","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"3_click_up","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":90,"y":760,"wires":[["e19807fe.fc2828"],[]]},{"id":"6ab7571f.c779a8","type":"server-state-changed","z":"98e1b75f.bbc268","name":"Stofa 4","server":"6161853e.2c5a3c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.stofa_switch","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"4_click_up","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":90,"y":820,"wires":[["58a0418e.3d0f7"],[]]},{"id":"65c089fc.876d78","type":"api-call-service","z":"98e1b75f.bbc268","name":"Stofa toggle","server":"6161853e.2c5a3c","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.stofa_2","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":310,"y":640,"wires":[[]]},{"id":"e0c27c93.635eb","type":"api-call-service","z":"98e1b75f.bbc268","name":"Stofulampi toggle","server":"6161853e.2c5a3c","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.stofulampi","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":330,"y":700,"wires":[[]]},{"id":"58a0418e.3d0f7","type":"api-call-service","z":"98e1b75f.bbc268","name":"Slökkva stofu","server":"6161853e.2c5a3c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.stofa_2, light.stofulampi, light.piano","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":320,"y":820,"wires":[[]]},{"id":"e19807fe.fc2828","type":"api-call-service","z":"98e1b75f.bbc268","name":"Kvöld niðri","server":"6161853e.2c5a3c","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.kvold_nidri","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":310,"y":760,"wires":[[]]},{"id":"97c6e430.bfae68","type":"api-call-service","z":"98e1b75f.bbc268","name":"","server":"6161853e.2c5a3c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.stofulampi","data":"{\"effect\":\"colorloop\",\"brightness\":255}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":790,"y":700,"wires":[[]]},{"id":"2247b689.871fda","type":"server-state-changed","z":"98e1b75f.bbc268","name":"Stofa 2 hold","server":"6161853e.2c5a3c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.stofa_switch","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"2_hold_up","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":590,"y":700,"wires":[["97c6e430.bfae68"],[]]},{"id":"f5a8aefb.983ad","type":"schedex","z":"660916f6.f04a58","name":"Morgunrútína","passthroughunhandled":false,"suspended":false,"lat":"64.14658","lon":"-21.94264","ontime":"7:30","ontopic":"","onpayload":"on","onoffset":0,"onrandomoffset":0,"offtime":"9:00","offtopic":"","offpayload":"off","offoffset":0,"offrandomoffset":0,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"sun":false,"x":170,"y":260,"wires":[["33e31833.14c558"]]},{"id":"33e31833.14c558","type":"api-current-state","z":"660916f6.f04a58","name":"Rútína virk?","server":"6161853e.2c5a3c","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.ljos_automation_morgunn","state_type":"str","state_location":"","override_payload":"none","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":470,"y":260,"wires":[["3aa69606.341afa"],[]]},{"id":"d51ad6fe.de7d78","type":"function","z":"660916f6.f04a58","name":"Birta 0-100","func":"context.brightness = context.brightness || 0\n\nconst lightmsg = function() {\n    return {\n        service: \"turn_on\",\n        data: {\n            \"color_temp\": 400,\n            \"brightness_pct\": context.brightness++\n        }\n    }\n}\n\n\nif (msg.payload === 'on') {\n    const light = lightmsg();\n    if (context.brightness > 100) {\n        context.brightness = 0;\n        return [null,{...msg, payload: light}];\n    }\n    return [msg,{...msg, payload: light}];\n} else {\n    context.brightness = 0;\n    return [null, null]\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":970,"y":260,"wires":[["c273de8d.0d2c9"],["6fd5f8de.9b1e18"]]},{"id":"6fd5f8de.9b1e18","type":"api-call-service","z":"660916f6.f04a58","name":"Ljós uppi","server":"6161853e.2c5a3c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.dagmar, light.kolbrun, light.saevar, light.hjon, light.gangur_uppi","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1140,"y":320,"wires":[[]]},{"id":"3aa69606.341afa","type":"switch","z":"660916f6.f04a58","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":260,"wires":[["d51ad6fe.de7d78","6cc12e54.0d79a"],["6fd5f8de.9b1e18","85d2e2e8.28bca"]]},{"id":"c273de8d.0d2c9","type":"delay","z":"660916f6.f04a58","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":960,"y":180,"wires":[["d51ad6fe.de7d78"]]},{"id":"6cc12e54.0d79a","type":"api-call-service","z":"660916f6.f04a58","name":"Kveikja niðri","server":"6161853e.2c5a3c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.forstofa_2, light.bordstofa","data":"{\"color_temp\":400, \"brightness_pct\": 100}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":970,"y":100,"wires":[[]]},{"id":"85d2e2e8.28bca","type":"api-call-service","z":"660916f6.f04a58","name":"Slökkva niðri","server":"6161853e.2c5a3c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.bordstofa, light.gangur_nidri, light.forstofa","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":970,"y":380,"wires":[[]]},{"id":"bedcac78.826d3","type":"schedex","z":"660916f6.f04a58","name":"Seinnipartur forstofa","passthroughunhandled":false,"suspended":false,"lat":"64.14658","lon":"-21.94264","ontime":"14:00","ontopic":"","onpayload":"on","onoffset":"15","onrandomoffset":true,"offtime":"0:30","offtopic":"","offpayload":"off","offoffset":"30","offrandomoffset":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":200,"y":440,"wires":[["6f83b64a.1408a8"]]},{"id":"6f83b64a.1408a8","type":"switch","z":"660916f6.f04a58","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":440,"wires":[["265732e5.1190de"],["cef455bc.243598"]]},{"id":"265732e5.1190de","type":"api-call-service","z":"660916f6.f04a58","name":"Kveikja seinni part","server":"6161853e.2c5a3c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.forstofa, light.gangur_uppi, light.gangur_nidri","data":"{\"color_temp\":400, \"brightness_pct\": 100}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":690,"y":420,"wires":[[]]},{"id":"cef455bc.243598","type":"api-call-service","z":"660916f6.f04a58","name":"Slökkva niðri","server":"6161853e.2c5a3c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.forstofa, light.bordstofa, light.gangur_nidri","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":670,"y":480,"wires":[[]]},{"id":"6bb75b17.5fbec4","type":"server-events","z":"98e1b75f.bbc268","name":"ZHA","server":"6161853e.2c5a3c","event_type":"zha_event","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"x":110,"y":1040,"wires":[["74305413.27df3c"]]},{"id":"74305413.27df3c","type":"function","z":"98e1b75f.bbc268","name":"","func":"const device_map = {\n    \"00:17:88:01:08:75:63:73\": \"Rofi1\",\n    \"00:15:8d:00:05:3d:68:88\": \"Alarm\"\n}\nconst {device_ieee, command} = msg.payload.event;\nconst {button} = msg.payload.event.args || '';\nif (device_map[device_ieee]) {\n    node.status({fill: 'green', shape: 'dot', text: device_map[device_ieee] + ' ' + command})\n    return {...msg, payload: {name: device_map[device_ieee], device_ieee, button, command}};\n}\nreturn null","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":1120,"wires":[["eec75411.edc31"]]},{"id":"f3ab2805.8fed98","type":"switch","z":"98e1b75f.bbc268","name":"Finna rofa","property":"payload.name","propertyType":"msg","rules":[{"t":"eq","v":"Rofi1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":320,"y":1000,"wires":[["7ca90000.6e895"]]},{"id":"7ca90000.6e895","type":"switch","z":"98e1b75f.bbc268","name":"Takki","property":"payload.button","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"up","vt":"str"},{"t":"eq","v":"down","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":450,"y":1000,"wires":[["a988bbc5.06e6d8"],["cc6260cf.f69b6"],["2017fa46.6aece6"],["2017fa46.6aece6"]]},{"id":"a988bbc5.06e6d8","type":"api-call-service","z":"98e1b75f.bbc268","name":"Lampi on","server":"6161853e.2c5a3c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bilskur","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1220,"y":900,"wires":[[]]},{"id":"cc6260cf.f69b6","type":"api-call-service","z":"98e1b75f.bbc268","name":"Lampi off","server":"6161853e.2c5a3c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.bilskur","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":860,"y":980,"wires":[[]]},{"id":"2017fa46.6aece6","type":"api-current-state","z":"98e1b75f.bbc268","name":"","server":"6161853e.2c5a3c","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.bilskur","state_type":"str","state_location":"payload.state","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":710,"y":1040,"wires":[["317895b7.0da8ba"],[]]},{"id":"317895b7.0da8ba","type":"function","z":"98e1b75f.bbc268","name":"","func":"// get command info and current brightness\ncontext.state = context.state || 'stopped';\n\nif (msg.payload !== 'looping') {\n    context.brightness = context.state === 'stopped' ? msg.data.attributes.brightness: context.brightness;\n    [context.button, context.command] = msg.payload.command.split('_');\n    context.loop = context.loop || null;\n}\n\n// Do nothing because light is off\nif (msg.data.state === 'off') {\n    node.status({fill: 'red', shape: 'dot'})\n    return [null, null]\n}\n\n// Button hold released, stopping loop\nif (context.state === 'running' && context.command === 'long') {\n    context.state = 'stopped';\n    delete context.brightness;\n    delete context.button;\n    context.loop = null;\n    return [null, null];\n}\n\n// Button hold started, starting loop\nif (context.state === 'stopped' && context.command === 'hold') {\n    context.state = 'running';\n    context.loop = {...msg, payload: 'looping'};\n    return [null, context.loop];\n}\n\nif (context.command === 'short' || (context.state === 'running' && msg.payload === 'looping')) {\n    if (context.button === 'up') {\n        context.brightness += 5;\n        node.status({fill: 'green', shape: 'dot', text: 'up: ' + context.brightness + ' @ ' + new Date().toUTCString()})\n        return [{...msg, payload: { data: { brightness: context.brightness}}}, context.loop]\n    }\n    if (context.button === 'down') {\n        context.brightness-=5;\n        if (context.brightness <= 0) {\n            context.brightness = 1;\n        }\n        node.status({fill: 'green', shape: 'dot', text: 'down: ' + context.brightness + ' @ ' + new Date().toUTCString()})\n        return [{...msg, payload: { data: { brightness: context.brightness}}}, context.loop]\n    }\n}\nreturn [null, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":960,"y":1040,"wires":[["a988bbc5.06e6d8"],["506a8ed4.022a8"]]},{"id":"506a8ed4.022a8","type":"delay","z":"98e1b75f.bbc268","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":970,"y":1160,"wires":[["317895b7.0da8ba"]]},{"id":"25c17583.b1b61a","type":"server-state-changed","z":"98e1b75f.bbc268","name":"Stofa 3 hold","server":"6161853e.2c5a3c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.stofa_switch","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"3_hold_up","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":590,"y":760,"wires":[["97477285.860b9"],[]]},{"id":"97477285.860b9","type":"api-call-service","z":"98e1b75f.bbc268","name":"Píanó toggle","server":"6161853e.2c5a3c","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.piano","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":770,"y":760,"wires":[[]]},{"id":"b1026afb.578628","type":"schedex","z":"660916f6.f04a58","name":"Kvöldmatur borðstofa","passthroughunhandled":false,"suspended":false,"lat":"64.14658","lon":"-21.94264","ontime":"18:00","ontopic":"","onpayload":"","onoffset":0,"onrandomoffset":0,"offtime":"20:00","offtopic":"","offpayload":"{\"service\": \"turn_off\"}","offoffset":0,"offrandomoffset":0,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":200,"y":620,"wires":[["a1786c68.67e84"]]},{"id":"a1786c68.67e84","type":"api-call-service","z":"660916f6.f04a58","name":"Borðstofa","server":"6161853e.2c5a3c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bordstofa","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":470,"y":620,"wires":[[]]},{"id":"a138fdb4.95e2b","type":"server-state-changed","z":"bb372a07.f94e38","name":"Latitude","server":"6161853e.2c5a3c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.leaf_latitude","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":160,"y":180,"wires":[["2b1fa60e.92c872"]]},{"id":"e56756d5.57a588","type":"server-state-changed","z":"bb372a07.f94e38","name":"Longitude","server":"6161853e.2c5a3c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.leaf_longitude","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":160,"y":240,"wires":[["2b1fa60e.92c872"]]},{"id":"deca2dad.9e558","type":"api-call-service","z":"bb372a07.f94e38","name":"Update Location","server":"6161853e.2c5a3c","version":1,"debugenabled":false,"service_domain":"device_tracker","service":"see","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":870,"y":220,"wires":[[]]},{"id":"2b1fa60e.92c872","type":"api-current-state","z":"bb372a07.f94e38","name":"Latitude","server":"6161853e.2c5a3c","version":1,"outputs":2,"halt_if":"0","halt_if_type":"num","halt_if_compare":"is_not","override_topic":false,"entity_id":"sensor.leaf_latitude","state_type":"num","state_location":"payload.latitude","override_payload":"msg","entity_location":"data.latitude","override_data":"msg","blockInputOverrides":true,"x":340,"y":180,"wires":[["74ab6f2f.238cf8"],[]]},{"id":"74ab6f2f.238cf8","type":"api-current-state","z":"bb372a07.f94e38","name":"Longitude","server":"6161853e.2c5a3c","version":1,"outputs":2,"halt_if":"0","halt_if_type":"num","halt_if_compare":"is_not","override_topic":false,"entity_id":"sensor.leaf_longitude","state_type":"num","state_location":"payload.longitude","override_payload":"msg","entity_location":"data.longitude","override_data":"msg","blockInputOverrides":false,"x":440,"y":240,"wires":[["648b3962.f2d2b"],[]]},{"id":"648b3962.f2d2b","type":"function","z":"bb372a07.f94e38","name":"Format Location data","func":"const lat = msg.data.latitude.state\nconst long = msg.data.longitude.state\ndelete msg.data\n\nmsg.payload = {\n    data: {\n        mac: '10:20:30:40:50:60',\n        dev_id: 'leaf_location',\n        gps: [lat,long]\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":220,"wires":[["deca2dad.9e558"]]},{"id":"2a1fe61d.08b082","type":"comment","z":"bb372a07.f94e38","name":"Location tracker","info":"Uppfærir gps á device_tracker.leaf_location þegar latitude eða longitude breytist","x":570,"y":160,"wires":[]},{"id":"a146a88b.7466b","type":"server-state-changed","z":"bb372a07.f94e38","name":"Útihurð læst","server":"6161853e.2c5a3c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"lock.lock","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"locked","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":170,"y":420,"wires":[["b2c89ea6.4705d8"],[]]},{"id":"b2c89ea6.4705d8","type":"api-current-state","z":"bb372a07.f94e38","name":"Leaf Heima","server":"6161853e.2c5a3c","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.yhk20","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":370,"y":420,"wires":[["edd2bc62.d2b68"],[]]},{"id":"edd2bc62.d2b68","type":"api-current-state","z":"bb372a07.f94e38","name":"Leaf < 50%","server":"6161853e.2c5a3c","version":1,"outputs":2,"halt_if":"50","halt_if_type":"num","halt_if_compare":"lt","override_topic":false,"entity_id":"sensor.leaf_battery_charge","state_type":"num","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":570,"y":420,"wires":[["3dcc97f0.31f298"],[]]},{"id":"f5c25d64.47b3d8","type":"api-call-service","z":"bb372a07.f94e38","name":"Senda skilaboð","server":"6161853e.2c5a3c","version":1,"debugenabled":false,"service_domain":"notify","service":"notify","entityId":"","data":"{\"message\":\"Mundu að hlaða bílinn\",\"title\":\"Hlaða\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1000,"y":420,"wires":[[]]},{"id":"aafbb52c.c428","type":"schedex","z":"bb372a07.f94e38","name":"Morgunrútína","passthroughunhandled":false,"suspended":false,"lat":"64.14658","lon":"-21.94264","ontime":"7:50","ontopic":"","onpayload":"on","onoffset":0,"onrandomoffset":0,"offtime":"9:00","offtopic":"","offpayload":"off","offoffset":0,"offrandomoffset":0,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"sun":false,"x":170,"y":620,"wires":[["19a70028.6a96d"]]},{"id":"19a70028.6a96d","type":"api-current-state","z":"bb372a07.f94e38","name":"Rútína virk?","server":"6161853e.2c5a3c","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.ljos_automation_morgunn","state_type":"str","state_location":"","override_payload":"none","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":390,"y":600,"wires":[["a1adf30b.fcca58"],[]]},{"id":"3cf98c5f.96b024","type":"api-call-service","z":"bb372a07.f94e38","name":"Hita bíl","server":"6161853e.2c5a3c","version":1,"debugenabled":false,"service_domain":"script","service":"leaf_turn_heater_on","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":880,"y":620,"wires":[[]]},{"id":"a1adf30b.fcca58","type":"api-current-state","z":"bb372a07.f94e38","name":"Leaf outside temp","server":"6161853e.2c5a3c","version":1,"outputs":2,"halt_if":"5","halt_if_type":"num","halt_if_compare":"lt","override_topic":false,"entity_id":"sensor.leaf_outside_temperature","state_type":"num","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":610,"y":620,"wires":[["3cf98c5f.96b024"],[]]},{"id":"3dcc97f0.31f298","type":"api-current-state","z":"bb372a07.f94e38","name":"Ekki í sambandi","server":"6161853e.2c5a3c","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.leaf_pilot_signal","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":780,"y":420,"wires":[["f5c25d64.47b3d8"],[]]},{"id":"29ff1a5b.0b98f6","type":"server-events","z":"ebb20cb2.a4935","name":"ZHA","server":"6161853e.2c5a3c","event_type":"zha_event","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"x":70,"y":240,"wires":[["e943a5e8.60b278"]]},{"id":"e943a5e8.60b278","type":"function","z":"ebb20cb2.a4935","name":"Device Map","func":"const device_map = context.global.get('device_map')\nconst {device_ieee, command} = msg.payload.event;\nconst {button} = msg.payload.event.args || '';\nconst fill = 'green';\nconst shape = 'dot';\nconst name = device_map[device_ieee];\nif (name && name.split('.')[0] === 'light') {\n    const text = name + ' ' + button;\n    node.status({fill, shape, text});\n    return {...msg, payload: {name, device_ieee, button, command}};\n}\nreturn null","outputs":1,"noerr":0,"initialize":"","finalize":"","x":230,"y":200,"wires":[["33d064ba.b84404"]]},{"id":"7272149c.3d801c","type":"switch","z":"ebb20cb2.a4935","name":"Button","property":"payload.button","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"up","vt":"str"},{"t":"eq","v":"down","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":750,"y":200,"wires":[["15fb1bb9.e5b00c"],["26f443ca.cd47bc"],["3509b0d5.89469"],["ab6c8846.5745c"]]},{"id":"c2b3107b.89193","type":"api-call-service","z":"ebb20cb2.a4935","name":"Light on","server":"6161853e.2c5a3c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"{{data.entity_id}}","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1620,"y":120,"wires":[[]]},{"id":"8103612b.36b098","type":"api-call-service","z":"ebb20cb2.a4935","name":"Light off","server":"6161853e.2c5a3c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"{{data.entity_id}}","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1140,"y":160,"wires":[[]]},{"id":"80b4f266.5084d8","type":"api-current-state","z":"ebb20cb2.a4935","name":"Light state","server":"6161853e.2c5a3c","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"{{payload.name}}","state_type":"str","state_location":"payload.state","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":570,"y":200,"wires":[["7272149c.3d801c"]]},{"id":"33d064ba.b84404","type":"function","z":"ebb20cb2.a4935","name":"Filter actions","func":"context.last = context.last || null;\nconst [button, action] = msg.payload.command.split('_');\nconst setStatus = () => {\n    node.status({fill: 'green', shape: 'dot', text: msg.payload.command});\n}\nif (button === 'step' || button === 'stop') {\n    setStatus();\n    // Some firmware versions send step and stop commands while holding\n    // Ignoring them because we don't use them\n    return null;\n}\nmsg.payload.action = action;\nswitch (action) {\n    case 'short' : {\n        if (context.last === 'press') {\n            context.last = null;\n            setStatus()\n            return msg;\n        } else {\n            context.last = action;\n            return null;\n        }\n        break;\n    }\n    case 'press' : {\n        if (context.last === 'short') {\n            context.last = null;\n            msg.payload.command = button + '_short_release';\n            msg.payload.action = 'short';\n            setStatus()\n            return msg;\n        } else {\n            context.last = action;\n            return null;\n        }\n        break;\n    }\n    case 'hold': {\n        if (context.last === 'press') {\n            context.last = action;\n            setStatus();\n            return msg;\n        } else {\n            return null;\n        }\n        break;\n    }\n    default : {\n        context.last = null;\n        setStatus()\n        return msg;\n    }\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":200,"wires":[["80b4f266.5084d8"]]},{"id":"2e8172f0.43b026","type":"server-state-changed","z":"660916f6.f04a58","name":"Eldhus Motion","server":"6161853e.2c5a3c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.eldhus_motion_sensor","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":180,"y":840,"wires":[["11e8ac2a.512744","da1298a3.ebdde8"],[]]},{"id":"da1298a3.ebdde8","type":"trigger","z":"660916f6.f04a58","name":"","op1":"","op2":"0","op1type":"nul","op2type":"str","duration":"5","extend":true,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":390,"y":860,"wires":[["8e8b0518.8dfab"]]},{"id":"11e8ac2a.512744","type":"function","z":"660916f6.f04a58","name":"Check light level","func":"const state = msg.data.new_state || null;\nif (!state && !state.attributes) {\n    node.status({fill: 'red', shape: 'circle', text: 'No attributes'})\n    return null;\n}\nconst {light_level, lx, dark, daylight} = state.attributes;\n\nif (dark || !daylight) {\n    node.status({fill: 'green', shape: 'dot', text: lx + 'lx, ' + light_level});\n    return msg;\n} else {\n    node.status({fill: 'red', shape: 'dot', text: lx + 'lx, ' + light_level});\n    return null;\n}\n\nnode.status({fill: 'blue', shape: 'dot', text: 'vesen'})\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":800,"wires":[["dd1d244a.85462"]]},{"id":"dd1d244a.85462","type":"api-call-service","z":"660916f6.f04a58","name":"Eldhús on","server":"6161853e.2c5a3c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.eldhus, light.eldhus_vaskur_l, light.eldhus_vaskur_m, light.eldhus_vaskur_r","data":"{\"brightness_pct\":100,\"color_temp\":400}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":580,"y":800,"wires":[[]]},{"id":"8e8b0518.8dfab","type":"api-call-service","z":"660916f6.f04a58","name":"Eldhús off","server":"6161853e.2c5a3c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.eldhus, light.eldhus_vaskur_l, light.eldhus_vaskur_m, light.eldhus_vaskur_r","data":"{\"transition\":10}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":580,"y":860,"wires":[[]]},{"id":"15fb1bb9.e5b00c","type":"switch","z":"ebb20cb2.a4935","name":"ON Action","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"short","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":970,"y":120,"wires":[["c2b3107b.89193"]]},{"id":"26f443ca.cd47bc","type":"switch","z":"ebb20cb2.a4935","name":"OFF Action","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"short","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":970,"y":180,"wires":[["8103612b.36b098"]]},{"id":"3509b0d5.89469","type":"switch","z":"ebb20cb2.a4935","name":"UP Action","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"short","vt":"str"},{"t":"eq","v":"hold","vt":"str"},{"t":"eq","v":"long","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":960,"y":240,"wires":[["f61937f4.d70e2"],["ded64a72.fc2b48"],["977ec73d.5e3ff8","f61937f4.d70e2"]]},{"id":"ab6c8846.5745c","type":"switch","z":"ebb20cb2.a4935","name":"DN Action","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"short","vt":"str"},{"t":"eq","v":"hold","vt":"str"},{"t":"eq","v":"long","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":970,"y":320,"wires":[["8971148.237e468"],["eac9f94d.563928"],["882ae4c5.77f07","8971148.237e468"]]},{"id":"ded64a72.fc2b48","type":"trigger","z":"ebb20cb2.a4935","name":"","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"-200","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1320,"y":240,"wires":[["f61937f4.d70e2"]]},{"id":"977ec73d.5e3ff8","type":"change","z":"ebb20cb2.a4935","name":"Reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":280,"wires":[["ded64a72.fc2b48"]]},{"id":"f61937f4.d70e2","type":"function","z":"ebb20cb2.a4935","name":"Increase brightness","func":"context.status = context.status || null;\ncontext.brightness = context.brightness || 0;\nlet fill = 'green';\nlet shape = 'dot';\n\nconst action = msg.payload.action;\n\nconst data = msg.data;\nif (msg.payload.state === 'off') {\n    // Light is off, do nothing\n    return null;\n}\nif (!data || !data.attributes) {\n    // Didn't get current state of light, do nothing\n    return null;\n}\nif (!context.status) {\n    // get and store current brightness\n    context.brightness = data.attributes.brightness;\n    if (action === 'hold') {\n        // starting loop\n        context.status = 'loop';\n    }\n}\nif (context.status === 'loop') {\n    fill = 'yellow';\n}\nif (action === 'long') {\n    // ending loop\n    context.status = null;\n    fill = 'blue';\n    node.status({fill, shape, text: context.brightness});\n    return null;\n}\ncontext.brightness += 5\nnode.status({fill, shape, text: context.brightness})\nreturn {...msg, payload: {data: {brightness: context.brightness}}}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1390,"y":180,"wires":[["c2b3107b.89193"]]},{"id":"eac9f94d.563928","type":"trigger","z":"ebb20cb2.a4935","name":"","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"-200","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1320,"y":380,"wires":[["8971148.237e468"]]},{"id":"882ae4c5.77f07","type":"change","z":"ebb20cb2.a4935","name":"Reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":400,"wires":[["eac9f94d.563928"]]},{"id":"8971148.237e468","type":"function","z":"ebb20cb2.a4935","name":"Decrease brightness","func":"context.status = context.status || null;\ncontext.brightness = context.brightness || 0;\nlet fill = 'green';\nlet shape = 'dot';\n\nconst action = msg.payload.action;\n\nconst data = msg.data;\nif (msg.payload.state === 'off') {\n    // Light is off, do nothing\n    return null;\n}\nif (!data || !data.attributes) {\n    // Didn't get current state of light, do nothing\n    return null;\n}\nif (!context.status) {\n    // get and store current brightness\n    context.brightness = data.attributes.brightness;\n    if (action === 'hold') {\n        // starting loop\n        context.status = 'loop';\n    }\n}\nif (context.status === 'loop') {\n    fill = 'yellow';\n}\nif (action === 'long') {\n    // ending loop\n    context.status = null;\n    fill = 'blue';\n    node.status({fill, shape, text: context.brightness});\n    return null;\n}\ncontext.brightness -= 5\nif (context.brightness < 1) {\n    context.brightness = 1;\n}\nnode.status({fill, shape, text: context.brightness})\nreturn {...msg, payload: {data: {brightness: context.brightness}}}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1400,"y":320,"wires":[["c2b3107b.89193"]]},{"id":"90ae78f7.650f58","type":"inject","z":"f55fe344.1d00e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"blah","payload":"hello","payloadType":"str","x":220,"y":560,"wires":[[]]},{"id":"d9f932d5.5ebd7","type":"api-call-service","z":"f55fe344.1d00e","name":"","server":"6161853e.2c5a3c","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_iphone","entityId":"","data":"{\"message\":\"{{payload}} {{topic}}\",\"title\":\"some\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":510,"y":560,"wires":[[]]},{"id":"566f05c2.99539c","type":"debug","z":"98e1b75f.bbc268","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":1260,"wires":[]},{"id":"eec75411.edc31","type":"switch","z":"98e1b75f.bbc268","name":"","property":"payload.name","propertyType":"msg","rules":[{"t":"eq","v":"Alarm","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":460,"y":1200,"wires":[["566f05c2.99539c"]]},{"id":"902a8cde.00a6b8","type":"server-state-changed","z":"660916f6.f04a58","name":"Píanó opnað","server":"6161853e.2c5a3c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.piano","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":190,"y":1060,"wires":[["d79d7780.4e9c3"],["371c77a0.ed1e98"]]},{"id":"d79d7780.4e9c3","type":"api-call-service","z":"660916f6.f04a58","name":"Píanó ljós on","server":"6161853e.2c5a3c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.piano","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":530,"y":1040,"wires":[[]]},{"id":"371c77a0.ed1e98","type":"api-call-service","z":"660916f6.f04a58","name":"Píanó ljós off","server":"6161853e.2c5a3c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.piano","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":530,"y":1080,"wires":[[]]},{"id":"9edeae89.bf7d38","type":"server-state-changed","z":"f55fe344.1d00e","name":"Þvottavél búin","server":"6161853e.2c5a3c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.washing_machine_status","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"Clean","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":200,"y":220,"wires":[["6519b3fd.34b014"],[]]},{"id":"f00c29ff.fcd59","type":"api-call-service","z":"f55fe344.1d00e","name":"Notify","server":"6161853e.2c5a3c","version":1,"debugenabled":false,"service_domain":"notify","service":"notify","entityId":"","data":"{\"message\": \"Þvottavél búin\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":750,"y":220,"wires":[[]]},{"id":"6519b3fd.34b014","type":"trigger","z":"f55fe344.1d00e","name":"","op1":"1","op2":"1","op1type":"str","op2type":"str","duration":"-20","extend":false,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":550,"y":220,"wires":[["f00c29ff.fcd59","161e43ec.432094"]]},{"id":"73d2ed25.09ef54","type":"server-state-changed","z":"f55fe344.1d00e","name":"Þvottavél opnuð","server":"6161853e.2c5a3c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.washing_machine_status","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"Idle","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":220,"y":300,"wires":[["19de7eac.b8ff99"],[]]},{"id":"19de7eac.b8ff99","type":"change","z":"f55fe344.1d00e","name":"Reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":300,"wires":[["6519b3fd.34b014"]]},{"id":"c7c853e4.2b4418","type":"server-state-changed","z":"660916f6.f04a58","name":"Háaloft opnað","server":"6161853e.2c5a3c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.haaloft","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":190,"y":1260,"wires":[["24cd581.d89fb28"],["49ca1491.9c6bb4"]]},{"id":"24cd581.d89fb28","type":"api-call-service","z":"660916f6.f04a58","name":"Háaloft ljós on","server":"6161853e.2c5a3c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.haaloft","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":540,"y":1240,"wires":[[]]},{"id":"49ca1491.9c6bb4","type":"api-call-service","z":"660916f6.f04a58","name":"Háaloft ljós off","server":"6161853e.2c5a3c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.haaloft","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":540,"y":1280,"wires":[[]]},{"id":"4eb3e2c6.3eecdc","type":"ttsultimate","z":"c65f10bb.231c68","name":"","voice":"Dora","ssml":false,"sonosipaddress":"10.22.2.189","sonosvolume":"50","sonoshailing":"Hailing_Hailing.mp3","config":"948ba103.bc443","property":"payload","propertyType":{},"rules":[],"x":610,"y":320,"wires":[[],[]]},{"id":"75a9d974.c83a4","type":"inject","z":"c65f10bb.231c68","name":"Bla","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Gleðileg jól allir saman","payloadType":"str","x":320,"y":320,"wires":[["4eb3e2c6.3eecdc"]]},{"id":"3dbc0660.d2f2ea","type":"ttsultimate","z":"f55fe344.1d00e","name":"","voice":"Dora","ssml":false,"sonosipaddress":"10.22.2.189","sonosvolume":"60","sonoshailing":"Hailing_Hailing.mp3","config":"948ba103.bc443","property":"payload","propertyType":{},"rules":[],"x":850,"y":300,"wires":[[],[]]},{"id":"161e43ec.432094","type":"change","z":"f55fe344.1d00e","name":"Voice message","rules":[{"t":"set","p":"payload","pt":"msg","to":"Þvottavélin er búin","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":300,"wires":[["3dbc0660.d2f2ea"]]},{"id":"9f60ab78.2c055","type":"server-state-changed","z":"660916f6.f04a58","name":"Klósett Motion","server":"6161853e.2c5a3c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.klosett_uppi_motion_sensor","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":200,"y":1480,"wires":[["dd4dee0f.394a88","c96cc380.421708"],[]]},{"id":"c96cc380.421708","type":"trigger","z":"660916f6.f04a58","name":"","op1":"","op2":"0","op1type":"nul","op2type":"str","duration":"20","extend":true,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":400,"y":1500,"wires":[["81e29c4a.d49a9"]]},{"id":"dd4dee0f.394a88","type":"function","z":"660916f6.f04a58","name":"Check light level","func":"const state = msg.data.new_state || null;\nif (!state && !state.attributes) {\n    node.status({fill: 'red', shape: 'circle', text: 'No attributes'})\n    return null;\n}\nconst {light_level, lx, dark, daylight} = state.attributes;\n\nif (dark || !daylight) {\n    node.status({fill: 'green', shape: 'dot', text: lx + 'lx, ' + light_level});\n    return msg;\n} else {\n    node.status({fill: 'red', shape: 'dot', text: lx + 'lx, ' + light_level});\n    return null;\n}\n\nnode.status({fill: 'blue', shape: 'dot', text: 'vesen'})\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":1440,"wires":[["56990244.275374"]]},{"id":"56990244.275374","type":"api-call-service","z":"660916f6.f04a58","name":"Klósett on","server":"6161853e.2c5a3c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bad_uppi_loft, light.bad_uppi_spegill_h, light.bad_uppi_spegill_v","data":"{\"brightness_pct\":100,\"color_temp\":400}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":600,"y":1440,"wires":[[]]},{"id":"81e29c4a.d49a9","type":"api-call-service","z":"660916f6.f04a58","name":"Klósett off","server":"6161853e.2c5a3c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.bad_uppi_loft, light.bad_uppi_spegill_h, light.bad_uppi_spegill_v","data":"{\"transition\":10}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":600,"y":1500,"wires":[[]]},{"id":"8905092a.959398","type":"switch","z":"ebb20cb2.a4935","name":"Button","property":"payload.button","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"up","vt":"str"},{"t":"eq","v":"down","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":750,"y":800,"wires":[["5e8214d.4ddd8ec"],["15c440fe.7e41d7"],["971f840d.17bce"],["22e9856.af9157a"]]},{"id":"5e8214d.4ddd8ec","type":"switch","z":"ebb20cb2.a4935","name":"ON Action","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"short","vt":"str"},{"t":"eq","v":"hold","vt":"str"},{"t":"eq","v":"long","vt":"str"},{"t":"eq","v":"double","vt":"str"},{"t":"eq","v":"triple","vt":"str"},{"t":"eq","v":"quadruple","vt":"str"},{"t":"eq","v":"quintuple","vt":"str"}],"checkall":"false","repair":false,"outputs":7,"x":970,"y":640,"wires":[[],[],[],[],[],[],[]]},{"id":"15c440fe.7e41d7","type":"switch","z":"ebb20cb2.a4935","name":"OFF Action","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"short","vt":"str"},{"t":"eq","v":"hold","vt":"str"},{"t":"eq","v":"long","vt":"str"},{"t":"eq","v":"double","vt":"str"},{"t":"eq","v":"triple","vt":"str"},{"t":"eq","v":"quadruple","vt":"str"},{"t":"eq","v":"quintuple","vt":"str"}],"checkall":"false","repair":false,"outputs":7,"x":970,"y":760,"wires":[[],[],[],[],[],[],[]]},{"id":"971f840d.17bce","type":"switch","z":"ebb20cb2.a4935","name":"UP Action","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"short","vt":"str"},{"t":"eq","v":"hold","vt":"str"},{"t":"eq","v":"long","vt":"str"},{"t":"eq","v":"double","vt":"str"},{"t":"eq","v":"triple","vt":"str"},{"t":"eq","v":"quadruple","vt":"str"},{"t":"eq","v":"quintuple","vt":"str"}],"checkall":"false","repair":false,"outputs":7,"x":960,"y":880,"wires":[[],[],[],[],[],[],[]]},{"id":"22e9856.af9157a","type":"switch","z":"ebb20cb2.a4935","name":"DN Action","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"short","vt":"str"},{"t":"eq","v":"hold","vt":"str"},{"t":"eq","v":"long","vt":"str"},{"t":"eq","v":"double","vt":"str"},{"t":"eq","v":"triple","vt":"str"},{"t":"eq","v":"quadruple","vt":"str"},{"t":"eq","v":"quintuple","vt":"str"}],"checkall":"false","repair":false,"outputs":7,"x":970,"y":1000,"wires":[[],[],[],[],[],[],[]]},{"id":"724dc28f.046214","type":"server-events","z":"ebb20cb2.a4935","name":"ZHA","server":"6161853e.2c5a3c","event_type":"zha_event","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"x":130,"y":1200,"wires":[["50a33888.71955"]]},{"id":"50a33888.71955","type":"function","z":"ebb20cb2.a4935","name":"Device Map","func":"const device_map = context.global.get('device_map')\nconst {device_ieee, command} = msg.payload.event;\nconst {button} = msg.payload.event.args || '';\nconst fill = 'green';\nconst shape = 'dot';\nconst name = device_map[device_ieee]\nif (name) {\n    const text = name + ' ' + button;\n    node.status({fill, shape, text})\n    return {...msg, payload: {name, device_ieee, button, command}};\n}\nreturn null","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":1100,"wires":[["6f16ac96.67ca3c"]]},{"id":"6a0f76a.d858908","type":"switch","z":"ebb20cb2.a4935","name":"Find switch","property":"payload.name","propertyType":"msg","rules":[{"t":"eq","v":"light.bilskur","vt":"str"},{"t":"eq","v":"light.kolbrun","vt":"str"},{"t":"eq","v":"light.dagmar","vt":"str"},{"t":"eq","v":"light.saevar","vt":"str"},{"t":"eq","v":"light.hjon","vt":"str"},{"t":"eq","v":"other","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":530,"y":1060,"wires":[["8905092a.959398"],["6dda9e93.c3fa58"],[],[],[],[]]},{"id":"6f16ac96.67ca3c","type":"function","z":"ebb20cb2.a4935","name":"Filter actions","func":"context.last = context.last || null;\nconst [button, action] = msg.payload.command.split('_');\nconst setStatus = () => {\n    node.status({fill: 'green', shape: 'dot', text: msg.payload.command});\n}\nif (button === 'step' || button === 'stop') {\n    setStatus();\n    // Some firmware versions send step and stop commands while holding\n    // Ignoring them because we don't use them\n    return null;\n}\nmsg.payload.action = action;\nswitch (action) {\n    case 'short' : {\n        if (context.last === 'press') {\n            context.last = null;\n            setStatus()\n            return msg;\n        } else {\n            context.last = action;\n            return null;\n        }\n        break;\n    }\n    case 'press' : {\n        if (context.last === 'short') {\n            context.last = null;\n            msg.payload.command = button + '_short_release';\n            msg.payload.action = 'short';\n            setStatus()\n            return msg;\n        } else {\n            context.last = action;\n            return null;\n        }\n        break;\n    }\n    case 'hold': {\n        if (context.last === 'press') {\n            context.last = action;\n            setStatus();\n            return msg;\n        } else {\n            return null;\n        }\n        break;\n    }\n    default : {\n        context.last = null;\n        setStatus()\n        return msg;\n    }\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":1200,"wires":[["6a0f76a.d858908"]]},{"id":"6dda9e93.c3fa58","type":"switch","z":"ebb20cb2.a4935","name":"Button","property":"payload.button","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"up","vt":"str"},{"t":"eq","v":"down","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":750,"y":1300,"wires":[["f93916d3.dcbb8"],["54bb371d.47556"],["f43afa09.cbe24"],["1b5780ea.d9c177"]]},{"id":"f93916d3.dcbb8","type":"switch","z":"ebb20cb2.a4935","name":"ON Action","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"short","vt":"str"},{"t":"eq","v":"hold","vt":"str"},{"t":"eq","v":"long","vt":"str"},{"t":"eq","v":"double","vt":"str"},{"t":"eq","v":"triple","vt":"str"},{"t":"eq","v":"quadruple","vt":"str"},{"t":"eq","v":"quintuple","vt":"str"}],"checkall":"false","repair":false,"outputs":7,"x":970,"y":1140,"wires":[[],[],[],[],[],[],[]]},{"id":"54bb371d.47556","type":"switch","z":"ebb20cb2.a4935","name":"OFF Action","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"short","vt":"str"},{"t":"eq","v":"hold","vt":"str"},{"t":"eq","v":"long","vt":"str"},{"t":"eq","v":"double","vt":"str"},{"t":"eq","v":"triple","vt":"str"},{"t":"eq","v":"quadruple","vt":"str"},{"t":"eq","v":"quintuple","vt":"str"}],"checkall":"false","repair":false,"outputs":7,"x":970,"y":1260,"wires":[[],[],[],[],[],[],[]]},{"id":"f43afa09.cbe24","type":"switch","z":"ebb20cb2.a4935","name":"UP Action","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"short","vt":"str"},{"t":"eq","v":"hold","vt":"str"},{"t":"eq","v":"long","vt":"str"},{"t":"eq","v":"double","vt":"str"},{"t":"eq","v":"triple","vt":"str"},{"t":"eq","v":"quadruple","vt":"str"},{"t":"eq","v":"quintuple","vt":"str"}],"checkall":"false","repair":false,"outputs":7,"x":960,"y":1380,"wires":[[],[],[],[],[],[],[]]},{"id":"1b5780ea.d9c177","type":"switch","z":"ebb20cb2.a4935","name":"DN Action","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"short","vt":"str"},{"t":"eq","v":"hold","vt":"str"},{"t":"eq","v":"long","vt":"str"},{"t":"eq","v":"double","vt":"str"},{"t":"eq","v":"triple","vt":"str"},{"t":"eq","v":"quadruple","vt":"str"},{"t":"eq","v":"quintuple","vt":"str"}],"checkall":"false","repair":false,"outputs":7,"x":970,"y":1500,"wires":[[],[],[],[],[],[],[]]}]